:host {
  mat-card{
    display: flex;
    flex-flow: column;
    background-color: lightyellow;
    width: 12rem;
    max-height: 16rem;
    min-height: 8rem;
    margin: 0.5rem;
    mat-card-content{
      overflow: auto;
      flex-grow: 4;
    }
    mat-card-footer {
      background-color: beige;
      border-radius: 0 0 4px 4px;
      button {
        float: right;
      }
    }
  }
}


